.repository-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    color: var(--gray-100);
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.95);
    }

    svg {
      margin-right: 0.25rem;
    }
  }
}
